.blocks{
    background: #fff;
    border-radius:10px;
    padding:20px;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
    width:49%;
    position: relative;
    margin-bottom:20px;
}
.blocks__title{
    margin: 0 0 15px;
    color:#0075F2;
    font-size:1.6em;
}
.blocks__list{
    padding:0;
    margin:0;
    list-style:none;
    font-size:1.6rem
}
.blocks__list li{
    border-bottom: 1px solid #e6e6e6;
    color:#6b6b6b;
    font-weight:300;
    padding:7px 0;
}
.blocks__list li strong{
    font-weight: 400;
    text-transform: capitalize;
}
.blocks__list li span{
    width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}
.blocks__hash{
    font-size:1.6rem;
    font-weight: normal;
    word-break: break-all;
}
.seeHash{
    cursor: pointer;
}
.seeHash.expand{
    position: absolute;
    overflow: visible;
    background: #fff;
    z-index: 99;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    width: 100%;
    padding: 6px 10px;
    border-radius: 4px;
    word-break: break-all;
    white-space: normal;
    text-align: left;
}
.section{
    min-height:81vh;
}
.block__input{
    margin-bottom:15px;
    background: #f9f9f9;
    padding: 10px 20px 20px;
    border-radius:5px;
    width:49%;
}
.block__input li{font-size:1.4rem;}

@media(max-width:640px){
    .blocks{width:100%; }
    .blocks__list li span{
        white-space: normal;
    }
    .seeHash.expand{
        word-break: break-all;
        text-align: left;
    }
}