/** Header Has it's own stylesheet **/
.header{
    background: #fff;
    text-align: center;
    padding:24px 20px;
}
.logo{
    max-width:250px;
    margin:auto;
    
}
.logo img{
    width:100%;
    display: block;
}

.footer{
    background: #fff;
    text-align: center; 
    padding:10px;
    font-size: 1.2rem;
    margin-top:30px;
}
.footer p{margin:0;}