*{
  box-sizing: border-box;
  outline: none
}
html{
  font-size: 10px;
}
body {
  margin: 0;
  font-family: 'Muli', Oxygen, Ubuntu, sans-serif;
  background: #f9f9f9;
  font-size: 1.6rem;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
.section{
  padding-top:30px;
}
.container{
  max-width:1024px;
  margin:0 auto;
  padding-left: 30px;
  padding-right:30px;
}
.flexx, .blocks__list li{
  display: -webkit-flex;
  display: flex;
}
.flex-wrap{
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-auto{
  -webkit-flex:1;
  flex:0 0 auto;
}
.flex-1{
  -webkit-flex:1;
  flex:1;
}
.jc-sb, .blocks__list li{
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.link{
  border: 1px solid #0075F2;
  color: #0075F2;
  cursor: pointer;
  background: none;
  border-radius: 4px;
  padding: 3px 5px 3px;
  margin-left: 6px;
  font-size: 1.2rem;
  position: relative;
  top: -1px;
}
.link-back{
  top:-4px;
  margin-right:10px;
}